@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  z-index: 2;
  position: fixed;
  display: flex;
  height: 70px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

nav .logo{
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
/* nav ul li a.active, */
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}

/* _________________________________________Home-Page______________________________________________________ */
/*  */
body {
  margin: 0;
  font-family: helvetica, arial, san-serif;
   background-color: #dfe6e9;
   /* dfe6e9 */
}

a{
  text-decoration: none;
  color: #0f1010;
  font-family: "Poppins", san-serif;
}

a:hover {
  color: rgb(26, 26, 30);
  cursor: crosshair;
}
/* 
.first {
  background-color: #ddeffb;
}

.container {
  display: flex;
  padding: 16px;
  background-color: transparent;
}

nav {
  width: 100%;
}

li {
  list-style: none;
}

.column1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 5%;
}

.column2 {
  width: 100%;
}

.hero-image {
  float: right;
  max-height: 80vh;
  margin-bottom: 0px;
  justify-content: end;
  display: flex;
}

.hero-text {
  font-family: "Poppins", san-serif;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5em;
  border-radius: 10px;
}
.hero-text p {
  text-align: justify;
}

.row {
  display: flex;
  flex-direction: row;
} */

.search-btn {
  background-color: yellow;
  font-family: "Poppins", san-serif;
  font-weight: 700;
  padding: 0.8em 2em;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 10px;
  box-shadow: 0px 8px 10px black;
}

.search-btn:hover {
  color: yellow;
  background-color: black;
}

.search-btn:active {
  box-shadow: 0px 2px 10px black;
}

.second {
  background-color: white;
  min-height: 500px;
  text-align: center;
  background-image: url("https://cdn.glitch.com/5f8445e6-7cb3-47ef-8b81-884235184212%2Fbackground-image.jpg?v=1584962577527");
  background-repeat: no-repeat;
  background-size: cover;
}

.product-list {
  /* display: flex;
  flex-wrap: wrap; */
  background-color: #dfe6e9;
  padding: 3em;
}

.product-list .card {
  /* display: inline-block; */
  background-color: white;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0px 10px 5px #b2bec3;
  text-align: center;
  font-family: "Poppins";
}

.card .title {
  font-size: 18px;
  font-weight: bold;
}

.card img {
  max-width: 100%;
  border-radius: 5px;
}

.card .text {
  text-align: left;
  margin-left: 2em;
  margin-bottom: 0.5em;
  font-size: 12px;
}

.buy-button {
  background-color: #f9ca24;
  border: none;
  padding: 1em;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
}
.buy-button:hover {
  box-shadow: 0px 5px 5px #b2bec3;
  color: #eb4d4b;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}

.align-center {
  text-align: center;
}
/* .nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 3em;
} */

/* .sub-menu {
  max-width: 20%;
  padding: 1em;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 10px #8395a7;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: 1s ease;
} */

/* .sub-menu a:hover {
  color: #8395a7;
} */

/* nav ul li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transition: 1s ease;
} */

.card img {
  transition: 0.5s ease;
}

.card:hover img {
  transform: scale(1.1);
  transition: 1s ease;
}

.card .details {
  position: relative;
  top: 50px;
  transition: 2s ease;
  visibility: hidden;
  opacity: 0;
}

.card:hover .details {
  opacity: 1;
  visibility: visible;
  top: 0px;
  transition: 2s ease;
}

.text,
.title {
  transition: 0.5s ease;
}

.card:hover .text,
.card:hover .title {
  opacity: 0;
  transition: 1 ease;
}

.new {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 5;
  animation: pulse 2s ease-in infinite;
}

@keyframes pulse {
  0% {
    transform: scale (1);
  }

  50% {
    transform: rotate(45deg) scale(1.3);
    
  }
}

.searchbar {
  background: #fff;
  height : 50px;
  width: 200px;
  margin: 1em auto;
  border-radius: 10px;
  border: 2px solid #e4e4e4;
  display: flex;
  padding: 0.3em;
  width: 10%;
  transition: width 0.5s ease-in;
  
}

.search-icon {
  width: 100%;
  background : url("https://cdn.glitch.com/9cf36649-4cc8-43b3-936f-9f591ad3040c%2Fmagnifying-glass.svg?v=1586850286628") no-repeat center center;
  background-size: contain;
  margin: 0.5em;
  opacity: 0.5;
  
}

.search-input {
  width: 90%;
  margin: 0.5em;
  border: none;
  color: #b4b4b4;
  font-family: 'Poppins';
  display: none;

}

.searchbar:hover {
  width: 60%;
  box-shadow: 0 2px 15px #b4b4b4;
  transition: width 1s ease-in;
}

.searchbar:hover .search-input {
  display: flex;
  transition: 1s ease-in;
}
.searchbar:hover .search-icon {
  opacity: 1;
  width: 10%;
  transition: width 1s ease-in;
}

.search-input:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .product-list .card {
    /* width: 100vw; */
    /* height: 300px; */
  }
}

/* ______________________________________ProductDesc________________________________________________________ */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100%;
    display: block;
}
.main-wrapper{
    min-height: 80vh;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
}
.product-div{
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    border-radius: 3px;
    column-gap: 10px;
}
.product-div-left{
    padding: 20px;
}
.product-div-right{
    padding: 20px;
}
.img-container img{
    width: 500px;
    margin: 0 auto;
}
.hover-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}
.hover-container div{
    border: 2px solid rgba(252, 160, 175, 0.7);
    padding: 1rem;
    border-radius: 3px;
    margin: 0 4px 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active{
    border-color: rgb(255, 145, 163)!important;
}
.hover-container div:hover{
    border-color: rgb(255, 145, 163);
}
.hover-container div img{
    width: 50px;
    cursor: pointer;
}
.product-div-right span{
    display: block;
}
.product-name{
    font-size: 26px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}
.product-price{
    font-weight: 700;
    font-size: 24px;
    opacity: 0.9;
    font-weight: 500;
}
.product-rating{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.product-rating span{
    margin-right: 6px;
}
.product-description{
    font-weight: 18px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
}
.btn-groups{
    margin-top: 22px;
}
.btn-groups button{
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 15px 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-groups button .fas{
    margin-right: 8px;
}
.add-cart-btn{
    background-color: #FF9F00;
    border: 2px solid #FF9F00;
    margin-right: 8px;
}
.add-cart-btn:hover{
    background-color: #fff;
    color: #FF9F00;
}
.buy-now-btn{
    background-color: #000;
    border: 2px solid #000;
}
.buy-now-btn:hover{
    background-color: #fff;
    color: #000;
}

@media screen and (max-width: 992px){
    .product-div{
        grid-template-columns: 100%;
    }
    .product-div-right{
        text-align: center;
    }
    .product-rating{
        justify-content: center;
    }
    .product-description{
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 400px){
    .btn-groups button{
        width: 100%;
        margin-bottom: 10px;
    }
}

