<%- include('./partials/header') %> 



<div style="height: 100px"></div>
<h2 class="text-center">Admin Panel</h2>
<div class="d-flex justify-content-center">
    <a style="padding: 20px 20px" href="/admin/products"><button type="button" class="btn btn-secondary">Products</button></a>
    <a style="padding: 20px 20px" href="/admin/users"><button type="button" class="btn btn-secondary">Users</button></a>
    <a style="padding: 20px 20px" href="/demo"><button type="button" class="btn btn-secondary">Orders</button></a>
    
</div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<%- include('./partials/footer') %> 