<%- include('./partials/header') %> 

<section style="height: 900px;" class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-15 col-xl-10">
  
          <div class="card">
            <div class="card-header p-5">
              <h5 class="mb-0"><i class="fas fa-tasks me-2"></i>Users List</h5>
            </div>
            <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 1400px">
  
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th scope="col"> User</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="fw-normal">
                    <th>
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp"
                        class="shadow-1-strong rounded-circle" alt="avatar 1"
                        style="width: 55px; height: auto;">
                      <span class="ms-2">Alice Mayer</span>
                    </th>
                    <td class="align-middle">
                      <span>Call Sam For payments</span>
                    </td>
                    <td class="align-middle">
                      <h6 class="mb-0"><span class="badge bg-danger">Admin</span></h6>
                    </td>
                    <td class="align-middle">
                      <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
                          class="fas fa-trash-alt text-danger"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
  
            </div>
                
          </div>
  
        </div>
      </div>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="/js/allusers.js"></script>
  
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<%- include('./partials/footer') %> 