<%- include('./partials/header') %> 
<div style="height: 100px"></div>

<h4 style="text-align: center;" >Please complete payment to see orders</h4>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<%- include('./partials/footer') %> 